<section class="about" id="about">
  <div class="container">
    <svg class="icon-decoration" width="300" height="20" aria-hidden="true">
      <use href="/img/sprite.svg#icon-decoration"></use>
    </svg>

    <h2 class="about-title">
      Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
      Moments
    </h2>
    <p class="about-descr">
      With years of experience in wedding photography, Maria specializes in
      capturing genuine emotions and beautiful moments. Her unique approach
      blends artistry with a personal touch, ensuring that each couple's story
      is told through stunning imagery.
    </p>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/about/about-desk@1x.webp 1x,
          /img/about/about-desk@2x.webp 2x
        "
        width="1312"
        height="593"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /img/about/about-tab@1x.webp 1x,
          /img/about/about-tab@2x.webp 2x
        "
        width="704"
        height="318"
      />

      <img
        class="about-img"
        src="/img/about/about-mob@1x.webp"
        srcset="
          /img/about/about-mob@1x.webp 1x,
          /img/about/about-mob@2x.webp 2x
        "
        width="335"
        height="273"
        alt="Photo of married couple"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
