<section class="portfolio" id="portfolio" aria-labelledby="portfolio-title">
  <div class="container">
    <svg class="icon-decoration" width="300" height="20" aria-hidden="true">
      <use href="/img/sprite.svg#icon-decoration"></use>
    </svg>
    <h2 class="portfolio-title" id="portfolio-title">Portfolio Highlights</h2>

    <ul class="portfolio-filters"></ul>

    <ul class="portfolio-gallery"></ul>

    <div class="loader-wrapper is-hidden">
      <span class="loader"></span>
    </div>

    <button type="button" class="portfolio-more-btn">Show More</button>
  </div>
</section>
