html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  font-family: 'Mulish', sans-serif;
  color: #000000;
  background-color: #fbf9f1;
}

body.scroll-locked {
  overflow: hidden;
}
